POSTGRES_USER=mediguard
POSTGRES_PASSWORD=mediguard_dev_password
POSTGRES_DB=mediguard
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ENVIRONMENT=development
DEBUG=true
SIMULATOR_ENABLED=true
SIMULATOR_TICK_SECONDS=3
